.singUpButton {
    background-color: #5D4FFF; /* Green */
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
.loginButton {
    background-color: white; /* Green */
    font-weight: bold;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-right:20px ;
  }
.topContent {
  background-color: #F5F5F5;
}

header {
  text-align: left;
  padding-left: 100px;
  ;
}
.container {
  background-color: #F5F5F5;
  display: flex;
  height: 30%; /* Set height to fill the viewport */
}
.left, .right {
  width: 50%; /* Each div takes up 50% of the width */
  height: 100%; /* Full height */
  padding: 20px;
  box-sizing: border-box;
}

.searchbar[type=text]{
  width: 90%;
  height: 40px;
  border-radius: 15px;
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
  
}
.locationbar[type=text]{
  
  height: 40px;
  border-radius: 15px;
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
  
}
.element{
  margin-top: 35px;
  margin-left: 5%;
}

.searchCriterias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

img {
  height: 95%;
  object-fit:scale-down;
}