.headContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid lightgray;

}
.left {
    display: flex;
    align-items: center; /* Vertically align the text and logo */
}

.logo {
    width: 40px; /* Adjust logo size as needed */
    height: auto;
    margin-right: 10px; /* Space between the logo and text */
}

.left {
    padding-left: 15%;
    font-size: 32px;
    font-weight: bold;
    gap: 10%;
}

/* Style for the right side (buttons) */
.right {
    padding-right: 15%;
}
.right button {
    margin-left: 10px; /* Adds space between the buttons */
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.mainLeft {
    flex:1;
    text-align: left;
    padding-left: 10%;
}
.mainRight img{
    max-width: 100%;
    height: auto;
    
}
.mainLeft h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 10px;
}
.mainLeft p {
    font-size: 18px;
}
.searchContainer {
    display: flex;
    
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.criteriaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
    gap: 15px;
    padding-left: 10%;
    padding-right: 10%;
}
.criteriaContainer > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    flex:1;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.searchbar[type=text]{
    height: 40px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    background-image: url('search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    
}
.criteriabar[type=text]{
    flex:1;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    background-image: url('search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    
}
.purplebutton {
    background-color: #5D4FFF; /* Green */
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.graybutton {
    background-color: white; /* Green */
    font-weight: bold;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-right:20px ;
  }